Operating System : Windows XP, Vista (Service Pack 2 or greater), 7, or later
Graphics : A graphics card with DirectX 9.0c or later with Shader Model 1.1 or later, with 256MB DVRAM or 512MB SVRAM
Processor/RAM - >= 1.6GHz with at least 1GB RAM